body {
  display: flex;
  flex-direction: column-;
}

header, footer {
  background-color: #f0f0f0;
  padding: 10px;
}

main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

article {
  flex: 2;
  overflow-y: auto;
}

aside {
  flex: 1;
  overflow-y: auto;
}

header ul li a {
  color: white;
}

table, th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #eee;
}

.logo {
  font-size: 24px;
  margin-right: 15px;
}